body {
    font-family: $inter-regular;
    font-size: 14px;
    border-top: 5px solid $secondary-color;
}

h1, h2, h3, h4, h5 {
    font-family: $inter-bold;
}
h1 {
    font-size: 34px;
    @include media-breakpoint-up(md) {
        font-size: 44px;
    }
}
h2 {
    font-size: 28px;
    @include media-breakpoint-up(md) {
        font-size: 38px;
    }
}
h3 {
    font-size: 24px;
    @include media-breakpoint-up(md) {
        font-size: 26px;
    }
}
h4 {
    font-size: 18px;
    @include media-breakpoint-up(md) {
        font-size: 20px;
    }
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}

// Block Components
.block-component {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

// Dots Elements
.dots {
    position: relative;
    padding-top: 30px;

    &--top {
        &:after {
            content: '';
            background-image: url(../images/dots.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            display: block;
            width: 85px;
            height: 5px;
        }
    }
}