
@font-face {
	font-family: 'Roboto Medium';
	src:  url('../fonts/Roboto-Medium.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto Medium Italic';
	src:  url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}
