// Fonts
$inter-regular: "Inter Regular", serif;
$inter-bold: "Inter Bold", serif;
$inter-medium: "Inter Medium", serif;

// Colors
$primary-color: #EC4579;
$secondary-color: #008792;
$white: #FFFFFF;
$black: #000000;
$light-grey: #F5F5F5;