# WP Core
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-admin/
/wp-includes/
/wp-content/uploads
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentyfifteen
wp-content/plugins/hello.php
wp-content/index.php
wp-content/themes/index.php
wp-content/themes/twentynineteen/
/license.txt
/readme.html
/wp-content/uploads/
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentyfifteen
/wp-content/plugins/hello.php
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/twentynineteen/
wp-content/plugins/akismet/
wp-content/plugins/index.php
wp-content/themes/twentytwenty/

# Config
wp-config.php
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# WPMVC
/wp-content/mu-plugins/vendor/

# Plugins
wp-content/db.php
/wp-content/plugins/disable-emails

# Theme
/wp-content/themes/artshub/dist/
/wp-content/themes/artshub/node_modules/
/wp-content/themes/artshub/vendor/
/wp-content/themes/artshub/.DS_Store
/wp-content/themes/artshub/composer.lock
/wp-content/themes/artshub/package-lock.json
/wp-content/themes/artshub/yarn.lock
/wp-content/themes/artshub/browser-sync.config.js
/wp-content/themes/artshub/browser-sync.js
/wp-content/themes/artshub/debug.log
/wp-content/themes/artshub/npm-debug.log*
/wp-content/themes/artshub/yarn-debug.log*
/wp-content/themes/artshub/yarn-error.log*

# Other
nbproject/
/wp-content/nbproject/
.vscode/
/.vscode
p.txt
*.sublime-workspace
*.sublime-project
*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/*

phpcs-check-diff.txt
phpcs-check.json
phpcs.xml
/composer.*
/vendor
/node_modules
/package-lock.json

/wp-content/plugins/revisr/
/wp-content/plugins/updraftplus/
/wp-content/plugins/wp-scss/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/languages/*

.git-ftp*

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.svn
.htaccess
