.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 95px;
    font-family: $inter-medium;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;

    &--green {
        background-color: $secondary-color;
        color: $white;
    }
    &--pink {
        background-color: $primary-color;
        color: $white;
    }

    &--large {
        padding: 15px;
        border-radius: 10px;
    }

    &--all-reviews {
        background-color: rgba( $black, 0.1 );
        font-size: 16px;
    }
    &--all-services {
        font-size: 16px;
    }
}