.block-component {

    &--reviews {

        .button-review {
            background-color: $white;
            border: 1px solid transparent;
            padding: 15px;
            cursor: pointer;

            > * {
                pointer-events: none;
            }

            .button-img img {
                width: 97px;
                height: 70px;
                object-fit: cover;
            }

            .button-title,
            .button-date {
                text-align: left;
            }

            .button-title {
                font-family: $inter-bold;
                font-size: 16px;
            }

            &.current-btn-review {
                background-color: rgba( $secondary-color, 0.2 );
                border: 1px solid $secondary-color;
            }
        }

        .review-blk {
            display: none;

            &.current-review {
                display: block;
            }
        }

        .review-content {
            font-size: 15px;
            line-height: 22px;
        }

    }

}