.block-component {

    &--top-hero {

        h1.custom-heading {
            font-family: $inter-medium;
            font-size: 28px;
            line-height: 38px;
            strong {
                font-family: $inter-bold;
            }
        }

        .top-hero {
            &--left-content {
                > * {
                    margin-bottom: 20px;
                }
            }

            &--right-content {
                @include media-breakpoint-up(lg) {
                    min-height: 480px;
                }
            }
        }

        .ndis-disclaimer {
            font-size: 12px;
        }

        .background-image-top-hero {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom right;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 0;
            
            @include media-breakpoint-up(lg) {
                min-height: 640px;
                border-radius: 15px 0 0 15px;
                overflow: hidden;
            }

            &:after {
                content: '';
                background-color: rgba( $black, 0.2 );
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        
    }
}