.not-found {

    form {
        display: flex;
        align-items: center;
        width: calc( 100% - 25px );
        padding-right: 20px;

        input[type="text"] {
            font-size: 22px;
            color: $black;
            padding: 0;
            width: 100%;
            margin-right: 20px;
            border-bottom: 2px solid $black;
            padding-bottom: 5px;
            background-color: $light-grey;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $black;
                opacity: 1; /* Firefox */
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $black;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $black;
            }
        }
    }

}