.entry-content {

    > * {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    p, span, b, strong, li {
        font-size: 15px;
        line-height: 22px;
    }

    ul li {
        margin-bottom: 7px;
        list-style: inside;
    }

    a {
        color: $black;
        font-family: $inter-bold;
    }

}