.custom-card {
    background-color: #afd5e2; 
    background-image: url('../images/hhc-banner.png'); 
    background-position: center right; 
    background-repeat: no-repeat; 
    border-radius: 10px;
}