.site-footer {
    .widget_nav_menu {

        .widget-title {
            font-size: 16px;
            font-family: $inter-bold;
            color: $black;
            text-transform: uppercase;
            position: relative;

            @include media-breakpoint-up(lg) {
                margin-bottom: 20px;    
            }

            @include media-breakpoint-down(md) {
                padding-top: 18px;
                padding-bottom: 18px;
                border-top: 1px solid #eee;

                &::after {
                    border-style: solid;
                    border-width: 0.20em 0.20em 0 0;
                    content: '';
                    display: inline-block;
                    height: 0.45em;
                    right: 5px;
                    position: absolute;
                    vertical-align: top;
                    width: 0.45em;
                    top: 50%;
                    transform: rotate(135deg) translateX(-50%);
                    margin-top: -2px;
                }
            }
        }

        &:first-child {
            @include media-breakpoint-down(md) {
                .widget-title {
                    border-top: 0px;
                }
            }
        }

        .menu {

            @include media-breakpoint-down(md) {
                display: none;
                margin-bottom: 20px;

                &.active {
                    display: block;
                }
            }

            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-size: 15px;
                    font-family: $inter-regular;
                    color: $black;
                    display: inline-block;
                }

                &.facebook {
                    a {
                        &:after {
                            content: url(../images/facebook-f.svg);
                            width: 21px;
                            height: 41px;
                            display: block;
                        }
                    }
                }
                &.instagram {
                    a {
                        &:after {
                            content: url(../images/instagram.svg);
                            width: 41px;
                            height: 41px;
                            display: block;
                        }
                    }
                }
            }
        }

    }
}