.main-navigation {
    margin-top: 20px;
    margin-bottom: 20px;

    .menu {
        display: flex;
        justify-content: center;

        li {
            margin-left: 20px;
            margin-right: 20px;
            a {
                font-family: $inter-medium;
                font-size: 15px;
                color: $black;
                position: relative;

                &:after {
                    content: "";
                    background-color: $black;
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    transition: all .2s ease;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
                
                
            }
        }
    }
}